# Movie Reviews

In [8]:
import nltk

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# stematisation : 
from nltk.stem.porter import PorterStemmer 

# bags of modeling
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# accuray 


from sklearn.naive_bayes import MultinomialNB

import string

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
import pandas as pd

df = pd.read_pickle("reviews")

df.head()

  target                                            reviews
0    neg  plot : two teen couples go to a church party ,...
1    neg  the happy bastard's quick movie review \ndamn ...
2    neg  it is movies like these that make a jaded movi...
3    neg   " quest for camelot " is warner bros . ' firs...
4    neg  synopsis : a mentally unstable man undergoing ...

The dataset is made up of positive and negative movie reviews.

## Preprocessing

👇 Remove punctuation and lower case the text.

In [3]:
#  Remove punctuation
string.punctuation
for punctuation in string.punctuation : 
    df['reviews'] = df['reviews'].str.replace(punctuation, "")

# lower case the text.    
def lower(clean_text) :
    clean_text= clean_text.str.lower()
    return clean_text

df['reviews'] = lower(df['reviews'])
df

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_14636\2579545303.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['reviews'] = df['reviews'].str.replace(punctuation, "")

     target                                            reviews
0       neg  plot  two teen couples go to a church party  d...
1       neg  the happy bastards quick movie review \ndamn t...
2       neg  it is movies like these that make a jaded movi...
3       neg    quest for camelot  is warner bros   first fe...
4       neg  synopsis  a mentally unstable man undergoing p...
...     ...                                                ...
1995    pos  wow  what a movie  \nits everything a movie ca...
1996    pos  richard gere can be a commanding actor  but he...
1997    pos  glorystarring matthew broderick  denzel washin...
1998    pos  steven spielbergs second epic film on world wa...
1999    pos  truman   trueman   burbank is the perfect name...

[2000 rows x 2 columns]

## Bag-of-Words modelling

👇 Using `cross_validate`, score a Multinomial Naive Bayes model trained on a Bag-of-Word representation of the texts.

In [6]:
vectorizer = CountVectorizer()
X_bow = vectorizer.fit_transform(df['reviews'])

nb_model = MultinomialNB()
nb_model.fit(X_bow, df['target'])
nb_model.score(X_bow, df['target'])

0.974

## N-gram modelling

👇 Using `cross_validate`, score a Multinomial Naive Bayes model trained on a 2-gram Bag-of-Word representation of the texts.

In [13]:
vectorizer = TfidfVectorizer(ngram_range=(2, 2))
X = vectorizer.fit_transform(df["reviews"])
X_sparse = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
print(X_sparse.head())

C:\Users\utilisateur\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   00 am  00 feet  00 for  00 if  00 showing  00 sunday  00 wasnt  000 000  \
0    0.0      0.0     0.0    0.0         0.0        0.0       0.0      0.0
1    0.0      0.0     0.0    0.0         0.0        0.0       0.0      0.0
2    0.0      0.0     0.0    0.0         0.0        0.0       0.0      0.0
3    0.0      0.0     0.0    0.0         0.0        0.0       0.0      0.0
4    0.0      0.0     0.0    0.0         0.0        0.0       0.0      0.0

   000 and  000 at  ...  zwick thinks  zwicks 1994  zwicks courage  \
0      0.0     0.0  ...           0.0          0.0             0.0
1      0.0     0.0  ...           0.0          0.0             0.0
2      0.0     0.0  ...           0.0          0.0             0.0
3      0.0     0.0  ...           0.0          0.0             0.0
4      0.0     0.0  ...           0.0          0.0             0.0

   zwicks favorite  zwicks latest  zwicks the  zwigoffs brilliant  \
0              0.0            0.0         0.0                 0.0
1              0.0            0.0         0.0                 0.0
2              0.0            0.0         0.0                 0.0
3              0.0            0.0         0.0                 0.0
4              0.0            0.0         0.0                 0.0

   zwigoffs superb  zycie masterfully  zycie za
0              0.0                0.0       0.0
1              0.0                0.0       0.0
2              0.0                0.0       0.0
3              0.0                0.0       0.0
4              0.0                0.0       0.0

[5 rows x 507275 columns]

In [14]:
nb_model = MultinomialNB()
nb_model.fit(X, df['target'])
nb_model.score(X, df['target'])

1.0

⚠️ Please push the exercise once you are done 🙃

## 🏁